@use "partials/home";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

//whole-site
* {
    font-family: 'Quicksand', serif;
    line-height: normal;
    list-style-type: none;
}
